<script>
$(document).ready(function () {
  $('ul.nav a[href="'+ window.location +'"]').parent().addClass('active');
  $('ul.nav a').filter(function() {
     return this.href == window.location;
  }).parent().addClass('active');
});
</script> 
</body>
</html>