<div class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <% unless @post.user.nil? %>
  <p>Por: <%= @post.user.email %></p>
  <% end %>
  <%= @post.body.html_safe %>
</div>

<div>
<%= link_to "Editar", edit_post_path(@post) %>
</div>