  <%= render :partial => "shared/header" %>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-sm-12 blog-main">
        <%= render :partial => "shared/alerts" %>
        <%= yield %>
      </div>
    </div>
  </div>